export(run_app)
import(shiny)
import(bslib)
import(RSQLite)
import(rhandsontable)
import(openxlsx)
import(foreach)
import(doSNOW)
import(uuid)
import(zip)
import(shinyjs)
import(dplyr)
import(callr)
import(DBI)
import(parallel)
importFrom(stats,setNames)
