export(run_app)
import(shiny)
import(bslib)
import(rhandsontable)
import(openxlsx)
import(foreach)
import(doSNOW)
import(uuid)
import(zip)
import(dplyr)
import(callr)
import(parallel)
importFrom(DBI,dbBegin)
importFrom(DBI,dbCommit)
importFrom(DBI,dbConnect)
importFrom(DBI,dbDisconnect)
importFrom(DBI,dbExecute)
importFrom(DBI,dbExistsTable)
importFrom(DBI,dbGetQuery)
importFrom(DBI,dbListFields)
importFrom(DBI,dbListTables)
importFrom(DBI,dbRollback)
importFrom(RSQLite,SQLite)
importFrom(stats,setNames)
